.header{
    
    height: 34vw;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
.header-contents{
    position: absolute;
   
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width:50% ;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
    
    
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.4vw,22px);
}
.header-contents p{
    
    color: white;
    font-size: max(1vw,22px);
}
.header-contents button{
    color: #747474;
    background-color: white;
    font-size: max(1vw,13px);
    border: none;
    border-radius: 50px;
    padding: 1vw 2.3vw;
    font-weight: 500;
}

@media (max-width:1050px){
  
    .header-contents{
        max-width: 45%;
        /* left: 2vw;
        bottom: 1px; */
        
        
    }
    /* .header-contents h2{
        font-weight: 500;
        color: black;
        font-size: max(0.4vw,10px);
    } */
}
@media (max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}